<li id="<%= user.id %>">
    <div class="img"><%= image_tag("fotos/girls/#{user.image}", height: '500', width: '500') %></div>
    <div><%= user.email %></div>
    <div class="like"></div>
    <div class="dislike"></div>
</li>



