<div class="container">

    <br>
    <hr>

    <!-- START JTINDER -->
    <div class="row">
       <div class="text-center">
        <!-- start padding container -->
        <div class="wrap">
            <!-- start jtinder container -->
            <div id="tinderslide">
                <ul>
                    <%= render @users %>
                </ul>
            </div>
            <!-- end jtinder container -->
        </div>
        <!-- end padding container -->
       </div>
    </div>

        <!-- jTinder trigger by buttons  -->
        <div class="actions">
            <a href="#" class="dislike"><i></i></a>
            <a href="#" class="like"><i></i></a>
        </div>

        <!-- jTinder status text  -->
        <div id="status"></div>

    <!-- END JTINDER -->


</div>